services:
  djangoapp:
    container_name: djangoapp
    build:
      context: .
    stdin_open: true
    tty: true
    ports:
      - 8000:8000
    working_dir: /app/djangoapp
    volumes:
      - .:/app
      - ./data/web/static:/data/web/static/
      - ./data/web/media:/data/web/media/
    env_file:
      - ./dotenv_files/.env.docker
    environment:
      - PYTHONPATH=/app
      - DJANGO_SETTINGS_MODULE=djangoapp.project.settings
    depends_on:
      - psql
      - redis

  celery_worker:
    container_name: celery_worker
    build:
      context: .
    command: /venv/bin/celery -A djangoapp.project worker -l info
    stdin_open: true
    tty: true
    working_dir: /app/djangoapp
    volumes:
      - .:/app
      - ./data/web/static:/data/web/static/
      - ./data/web/media:/data/web/media/
    env_file:
      - ./dotenv_files/.env.docker
    environment:
      - PYTHONPATH=/app
      - DJANGO_SETTINGS_MODULE=djangoapp.project.settings
    depends_on:
      - psql
      - redis

  celery_beat:
    container_name: celery_beat
    build:
      context: .
    command: /venv/bin/celery -A djangoapp.project beat -l info
    stdin_open: true
    tty: true
    working_dir: /app/djangoapp
    volumes:
      - .:/app
      - ./data/web/static:/data/web/static/
      - ./data/web/media:/data/web/media/
    env_file:
      - ./dotenv_files/.env.docker
    environment:
      - PYTHONPATH=/app
      - DJANGO_SETTINGS_MODULE=djangoapp.project.settings
    depends_on:
      - psql
      - redis

  redis:
    container_name: redis
    image: redis:7-alpine
    ports:
      - "6379:6379"

  psql:
    container_name: psql
    image: postgres:13-alpine
    volumes:
      - ./data/postgres/data:/var/lib/postgresql/data/
    ports:
      - 5433:5432
    env_file:
      - ./dotenv_files/.env.docker