<div class="row">
    <div class="col-md-4">
        <ul class="list-group list-group-flush">
            {% for senha in senhas|slice:":5" %}
                <li style="font-size: 5rem; font-weight: bold;" class="list-group-item d-flex justify-content-between align-items-center">
                    {{ senha.numero }}
                    {% comment %} <span class="badge bg-primary rounded-pill">{{ senha.created_at|time:"H:i:s" }}</span> {% endcomment %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="list-group list-group-flush">
            {% for senha in senhas|slice:"5:10" %}
                <li style="font-size: 5rem; font-weight: bold;" class="list-group-item d-flex justify-content-between align-items-center">
                    {{ senha.numero }}
                    {% comment %} <span class="badge bg-primary rounded-pill">{{ senha.created_at|time:"H:i:s" }}</span> {% endcomment %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="list-group list-group-flush">
            {% for senha in senhas|slice:"10:15" %}
                <li style="font-size: 5rem; font-weight: bold;" class="list-group-item d-flex justify-content-between align-items-center">
                    {{ senha.numero }}
                    {% comment %} <span class="badge bg-primary rounded-pill">{{ senha.created_at|time:"H:i:s" }}</span> {% endcomment %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
