{% extends 'restau/base_front.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="conta">
        <div class="conta-menu">
            <ul>
                <li><a href="{% url "perfil:conta" %}">Conta</a></li>
                <li><a href="{% url "perfil:atualizar" %}"><strong>Atualizar dados</strong></a></li>
                <li><a href="{% url "perfil:change_password" %}" class="">Alterar Password</a></li>
                <li><a href="{% url "perfil:cartao_cliente" %}" class="">Cartão cliente</a></li>
                <li><a href="{% url "perfil:vantagens" %}" class="">Vantagens</a></li>
            </ul>
        </div>
        <div class="conta-content">
            <p>Atualize os campos abaixo.</p>
            <form action="" method="POST">
                {% csrf_token %}
                {{ userform|crispy }}
                {{ perfilform|crispy }}
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Atualizar</button>
                    </div>
                </div>
            </form>

        </div>
    </section>
</main>
    
{% endblock content %}