{% extends 'restau/base_front.html' %}
{% load crispy_forms_tags %}
{% block content %}

        <div class="">
            <div>
                <h3>Conta</h3>
                <p><a href="" class="">Atualizar dados</a></p>
                <p><a href="" class="">Alterar Password</a></p>
                <p><a href="" class="">Cartão cliente</a></p>
                <p><a href="" class="">Vantagens</a></p>
            </div>
            <div>
                <h4>Atualizar</h4>
                <p>Atualize os campos abaixo.</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ userform|crispy }}
                    {{ perfilform|crispy }}
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Atualizar</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>
</main>
    
{% endblock content %}