{% extends 'restau/base_front_perfil.html' %}
{% block content %}
<main class="section-content-wide section-gap front-content main-content">
    <section class="section-gap-conta white-bg top-background">
        <div class="separator"></div>
            <h1 class="center">Hamburgueria artesanal</h1>
        <div class="separator "></div>
        {% include "restau/partials/_messages.html" %}
    </section>
    <section class="conta">
        {% include "perfil/partials/_conta_menu.html" %}
        <div class="conta-content">
            <h4 class="center">Cartão Cliente</h4>
            <p class="center">Nº Cliente: {{ perfil.numero_cliente }}</p>
            <p><img src="{{ perfil.qr_code.url }}" alt="Qrcode"></p>
        </div>
        
    </section>
</main>
    
{% endblock content %}