{% extends 'restau/base_front_perfil.html' %}
{% block content %}
<main class="section-content-wide section-gap front-content main-content">
    <section class="section-gap-conta white-bg top-background">
        <div class="separator"></div>
            <h1 class="center">Hamburgueria artesanal</h1>
        <div class="separator "></div>
        {% include "restau/partials/_messages.html" %}
    </section>
    <section class="conta">
        {% include "perfil/partials/_conta_menu.html" %}
        <div class="conta-content-perfil">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="token" value="{{ token }}">

                {% if form.non_field_errors %}
                    <div class="error">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.label_tag }}
                        
                        <div class="input-group" style="position: relative;">
                            {{ field }}
                            <span class="toggle-password" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                                <i class="fas fa-eye"></i>
                            </span>
                        </div>
                        
                        {% if field.errors %}
                            <div class="error">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit">Redefinir Password</button>
            </form>
        </div>
    </section>
</main>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.toggle-password').click(function() {
            var input = $(this).closest('.input-group').find('input');
            var icon = $(this).find('i');
            if (input.attr('type') === 'password') {
                input.attr('type', 'text');
                icon.removeClass('fa-eye').addClass('fa-eye-slash');
            } else {
                input.attr('type', 'password');
                icon.removeClass('fa-eye-slash').addClass('fa-eye');
            }
        });
    });
</script>
{% endblock content %}
