{% extends 'restau/base_front.html' %}

{% block content %}
    <section class="conta">
        <div class="conta-menu">
            <ul>
                <li><a href="{% url "perfil:conta" %}">Conta</a></li>
                <li><a href="{% url "perfil:atualizar" %}">Atualizar dados</a></li>
                <li><a href="" class=""><strong>Alterar Password</strong></a></li>
                <li><a href="{% url "perfil:cartao_cliente" %}" class="">Cartão cliente</a></li>
                <li><a href="{% url "perfil:vantagens" %}" class="">Vantagens</a></li>
            </ul>
        </div>
        <div class="conta-content">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="token" value="{{ token }}">

                {% if form.non_field_errors %}
                    <div class="error">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.label_tag }} {{ field }}
                        {% if field.errors %}
                            <div class="error">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit">Redefinir Password</button>
            </form>
        </div>
    </section>
</main>
{% endblock content %}
