{% extends 'restau/base_front.html' %}
{% load crispy_forms_tags %}
{% block content %}

        <div class="center">
            <div>
                <h3>Conta</h3>
                <p><a href="{% url 'perfil:atualizar' %}" class="">Atualizar dados</a></p>
                <p><a href="" class="">Alterar Password</a></p>
                <p><a href="" class="">Cartão cliente</a></p>
                <p><a href="{% url "perfil:vantagens" %}" class="">Vantagens</a></p>
            </div>
            <div>

            </div>
        </div>
    </section>
</main>
    
{% endblock content %}