{% extends 'restau/base_front.html' %}
{% block content %}
    <section class="conta">
        <div class="conta-menu">
            <a href="{% url 'perfil:conta' %}"><strong>Conta</strong></a>
            <a href="{% url 'perfil:atualizar' %}" class="">Atualizar dados</a>
            <a href="" class="">Alterar Password</a>
            <a href="{% url 'perfil:cartao_cliente' %}" class="">Cartão cliente</a>
            <a href="{% url 'perfil:vantagens' %}" class="">Vantagens</a>
        </div>
        <div class="conta-content">
            <p>Olá {{ user.first_name }}, bemvindo á sua area de utilizador.
            Aqui pode alterar os seus dados, ver as suas vantagens e muito mais.
            </p>
            <p>
                Tem na sua conta fidelidade {{ total_pontos }} pontos.
                Recebeu {{total_recompensas}} pontos de recompensa.
                Gastou {{total_ofertas}} pontos.
            </p>
        </div>
        
    </section>
</main>
    
{% endblock content %}