{% extends 'restau/base_front.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if main_image %}
{% if main_image.imagem_topo %}
    <img class="imagem-topo" src="{{ main_image.imagem_topo.url }}" alt="{{ main_image.nome }}">
{% else %}
    <h1>Extreme Way</h1>
{% endif %}
{% endif %}
<main class="section-content-wide section-gap front-content">
    <section class="section-gap white-bg top-background">
        <div class="separator"></div>
        <h1 class="center">Hamburgueria artesanal</h1>
        <div class="separator"></div>
        <div class="section-gap row">
            {% if not request.user.is_authenticated %}
            <div class="col section-gap">
                <h4>Login</h4>
                <p>Se já se registou, entre com usuário e senha.</p>
            </div>
            {% endif %}
            <div class="col section-gap">
                {% block tituloregistar %}
                <h4>Registrar</h4>
                <p>Se ainda não se registou, preencha os campos abaixo.</p>
                {% endblock  %}
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ userform|crispy }}
                    {{ perfilform|crispy }}
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
    
{% endblock content %}