{% extends 'restau/base_front.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section>
        <div class="login-register-content">
            {% if not request.user.is_authenticated %}
            <div class="section-gap">
                <div class="col section-gap">
                    <h4>Login</h4>
                    <p>Se já se registou, entre com usuário e senha.</p>
                    <form method="POST" action="{% url 'perfil:login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="InputUsuario1">Usuário</label>
                            <input type="text" name="username" class="form-control" id="InputUsuario1" aria-describedby="usuarioHelp" placeholder="Digite o seu usuário">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Palavra-passe:</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Digite a sua palavra-passe">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    </form>   
                    <h4>Esqueceu a palavra-passe?</h4>
                    <p>Se esqueceu a palavra-passe, clique no botão abaixo para recuperar.</p>
                    <a href="{% url 'perfil:request_reset_password' %}" class="btn btn-primary btn-block">Recuperar palavra-passe</a>
                </div>
                {% endif %}
                <div class="col section-gap">
                    {% block tituloregistar %}
                    <h4>Registrar</h4>
                    <p>Se ainda não se registou, preencha os campos abaixo.</p>
                    {% endblock  %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ userform|crispy }}
                        {{ perfilform|crispy }}
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Registrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
    
{% endblock content %}