{% extends 'restau/base_front.html' %}

{% block content %}
    <section class="conta">
        <div class="conta-menu">
            <h2>Recuperação password</h2>
            <p>Username: {{ user }}</p>
        </div>
        <div>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="token" value="{{ token }}">

                {% if form.non_field_errors %}
                    <div class="error">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.label_tag }} {{ field }}
                        {% if field.errors %}
                            <div class="error">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit">Redefinir Password</button>
            </form>
        </div>
    </section>
</main>
{% endblock content %}
