{% extends 'restau/base_front.html' %}
{% block content %}
    <section class="conta">
        <div class="conta-menu">
            <a href="{% url "perfil:conta" %}">Conta</a>
            <a href="{% url 'perfil:atualizar' %}" class="">Atualizar dados</a>
            <a href="" class="">Alterar Password</a>
            <a href="{% url "perfil:cartao_cliente" %}" class="">Cartão cliente</a>
            <a href="{% url "perfil:vantagens" %}" class=""><strong>Vantagens</strong></a>
        </div>
        <div class="conta-content">
            <div>
            <h4>Vantagens</h4>
            <p>Lorem ipsum dolor sit amet.</p>

            </div>
            <div>
                {% for item in lista_fidelidade %}
                    <p>fidelidade: {{ item.fidelidade.nome }}</p>
                    <p>Categoria: {{ item.produto.categoria }}</p>
                    <p>Subcategoria: {{ item.produto.subcategoria }}</p>
                    <p>Ordem: {{ item.produto.ordem }}</p>
                    <p>Produto: {{ item.produto }}</p>
                    <p>Pontos Recompensa: {{ item.pontos_recompensa }}</p>
                    <p>Pontos para oferta: {{ item.pontos_para_oferta }}</p>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
    
{% endblock content %}