{% extends 'restau/base_front.html' %}
{% block content %}
    <section class="conta">
        {% include "perfil/partials/_conta_menu.html" %}
        <div class="conta-content">
            <div>
            <h4>Vantagens</h4>
            <p>Lorem ipsum dolor sit amet.</p>

            </div>
            <div>
                Fidelidade: {{ tipo_fidelidade }}
                <table>
                    <thead>
                        <tr>
                            <th>
                                Produto
                            </th>
                            <th>
                                Pontos Recompensa
                            </th>
                            <th>
                                Pontos para oferta
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in lista_fidelidade %}
                        {% if item.visibilidade %}
                        <tr>
                            <td>
                                {{ item.produto }}
                            </td>
                            <td>
                                {{ item.pontos_recompensa }}
                            </td>
                            <td>
                                {{ item.pontos_para_oferta }}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
    
{% endblock content %}
