{% extends "restau/base.html" %}
{% block content %}
<h1>Pontos Produtos Fidelidade</h1>
<div class="single-product">
    <h3 class="single-product">
    {{ ementa.nome}}
    </h3>
    <p><b>Nome: </b>{{ fidelidade.nome}}</p>
    <p><b>Pontos por Euro: </b> {{ fidelidade.unidade }} </p>
    <p><b>Ementa: </b>{{ fidelidade.ementa }}</p>
  </div>
  <div>
    <form action="{{ form_action }}" method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        <fieldset>
            <table>
                {% for form in formset %}
                    <tr>
                        <td>
                            Produto: {{ form.initial.produto_nome }}
                        </td>
                        <td>
                            {{ form.produto.label_tag }}
                            {{ form.produto }}
                            {{ form.produto.errors }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.pontos_recompensa.label_tag }}
                            {{ form.pontos_recompensa }}
                            {{ form.pontos_recompensa.errors }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.pontos_para_oferta.label_tag }}
                            {{ form.pontos_para_oferta }}
                            {{ form.pontos_para_oferta.errors }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </fieldset>
    
        <button type="submit">Adicionar Pontos</button>
    </form>
    
    {% for categoria in categorias %}
        <p>{{ categoria.nome }}</p>
        {% for subcategoria in subcategorias %}
            {% if subcategoria.categoria == categoria %}
                <p>{{ subcategoria.nome }}</p>
            {% endif %}
        {% endfor %}
    {% endfor %}
    
</div>  
{% endblock %}