{% extends "restau/base.html" %}
{% block content %}
<h1>Utilizador Fidelidade</h1>
<p>Nome: {{utilizador.first_name}} {{utilizador.last_name}}</p>
<p>id: {{perfil.id}}</p>
<p>pontos: {{total_pontos}}</p>
<p>telefone: {{perfil.telemovel}}</p>
<p>Numero Cliente: {{ perfil.numero_cliente }}</p>
<p>Fidelidade: {{ perfil.tipo_fidelidade.id }}</p>
<p>utilizador: {{ perfil.usuario.id }}</p>
<div>
    <form 
    action="#" 
    method="POST"
    enctype="multipart/form-data"
    >
        {% csrf_token %}
        <input type="hidden" name="form_type" value="compras">
        {{compras_form}}

        <input type="submit" value="Submeter">
    </form>
    <form 
    action="#" 
    method="POST"
    enctype="multipart/form-data"
    >
        {% csrf_token %}
        <input type="hidden" name="form_type" value="ofertas">
        {{ofertas_form}}

        <input type="submit" value="Submeter">
    </form>
</div>

{% endblock content %}
