<div>
    <h3>Configuração</h3>
    <p>Configurações do sistema</p>
</div>
<div class="conta">
    <div class="conta-menu">
        <a href="{% url "restau:configuracao" %}" class="menu-btn">FrontEndSetup</a>
        <a href="{% url "restau:create_category" %}" class="menu-btn">Categorias</a>
        <a href="{% url "restau:subcategorias" %}" class="menu-btn">Subcategorias</a>
        <a href="{% url "restau:produtos" %}" class="menu-btn">Produtos</a>
        <a href="{% url "fidelidade:fidelidade" %}" class="menu-btn">Fidelidade</a>
        <a href="" class="menu-btn">Galeria</a>
        <a href="" class="menu-btn">Utilizadores</a>
    </div>