<footer class="footer footer-front mt-base">
    <div class="section-content-wide">
      <div class="section-gap">
        <div class="footer-columns center">
          <div class="container">
            <div class="">
              <a href="#"> © {% now "Y" %} {{ site_setup.title }} - Todos os direitos reservados. </a>
            </div>
            <div class="custom">
              <p style="color: var(--clr-olive-green);">Desenvolvido por <a style="color: var(--clr-amber);" href="https://firmalink.pt" target="_blank">FirmaLink</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>