{% extends 'restau/base.html' %}
{% block content %}
  <main class="main-content section-wrapper">
    <div class="section-content-wide">
      <div class="section-gap">
        <h3>Produtos</h3>

        {% if produtos %}
          <div class="prod-list">
            {% for produto in produtos %}
              <article class="prod">
                <div class="prod-text-wrapper">
                  <div class="#">
                    <h6 class="prod-nome">
                    <a href="#" class="card-title-link">
                      {{ produto.nome }}
                    </a>
                    </h6>
                  </div>
                </div>
              </article>
            {% endfor %}
          </div>
        {% else %}
          <div class="not-found center">
            <h1>Nada encontrado 😞</h1>
            <p>
              Não encontrei nada nesse link, clique em outro
              link do nosso admin ou vá para a
              <a href="{% url 'restau:index' %}">Home</a>
            </p>
          </div>
        {% endif %}

      </div>
    </div>
  </main>
{% endblock content %}