{% extends "restau/base.html" %}
{% block content %}
<div class="section-content-wide formset-update content">
    {% include "restau/partials/_conf_menu.html" %}
        <div class="conta-content">
            <h2 class="center">Frase Central</h2>
            <p class="center">
                Marque para apagar as Frases Centrais que já não deseja.
            </p>
            <div class="content form-wrapper">
                <form action="{{ form_action }}" 
                method="post" 
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ formset.management_form }}
                    <div class="grid-container-texto">
                        {% for form in formset %}
                            <div class="grid-item-texto">
                                {{ form.id }}
                                {% if form.instance.texto %}
                                <p>{{ form.instance.texto }}</p>
                                {% else %}
                                <p>Nao foi carregada nenhuma frase.</p>
                                <div class="sub-menu">
                                    <a href="{% url 'restau:frase_central' %}" class="menu-btn">voltar</a>
                                </div>
                                {% endif %}
                                
                                <div class="center">
                                    Apagar: {{ form.DELETE }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div>
                    <input type="submit" value="Apagar" class="btn">
                    </div>
                    <div class="sub-menu">
                        <a href="{% url 'restau:frase_central' %}" class="menu-btn">Voltar</a>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>
{% endblock %}