{% extends 'restau/base.html' %}
{% block content %}
<div class="section-content-wide formset-update content">
    {% include "restau/partials/_conf_menu.html" %}
        <div class="conta-content">
            <h2 class="center">Categoria</h2>
            <p class="center">
                Atualize a Categoria ou exclua-a se não for mais necessária.
                
            </p>
            <div class="single-product">
                <h3 class="single-product">
                {{ categoria.nome}}
                </h3>
                <p><b>Produto:</b>{{ categoria.nome}}</p>
                <p><b>Ordem:</b>{{ categoria.ordem }}</p>
                <div class="product-links">
                    <a class="btn btn-link" href="{% url 'restau:atualizar_categoria' categoria.id %}">Update</a>

                    <form action="{% url 'restau:apagar_categoria' categoria.id %}" method='POST'>
                        {% csrf_token %}
                        {% if confirmation == 'no' %}
                            <input type="hidden" name="confirmation" value="yes">
                            <button class="btn btn-link btn-delete" type="submit">Confirma?</button>
                        {% else %}
                            <button class="btn btn-link btn-delete" type="submit">Delete</button>
                        
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}