{% extends 'restau/base.html' %}
{% block content %}
    <div class="single-product">
        <h3 class="single-product">
        {{ category.nome}}
        </h3>
        <p><b>Produto:</b>{{ category.nome}}</p>
        <p><b>Ordem:</b>{{ category.ordem }}</p>
        {% comment %} <p><b>Subcategoria:</b>{{ category.subcategoria }}</p> {% endcomment %}

        <div class="product-links">
            <a class="btn btn-link" href="{% url 'restau:update_categories' category.id %}">Update</a>

            <form action="{% url 'restau:delete_category' category.id %}" method='POST'>
                {% csrf_token %}
                {% if confirmation == 'no' %}
                    <input type="hidden" name="confirmation" value="yes">
                    <button class="btn btn-link btn-delete" type="submit">Confirma?</button>
                {% else %}
                    <button class="btn btn-link btn-delete" type="submit">Delete</button>
                
                {% endif %}
            </form>
        </div>

    </div>
{% endblock content %}