{% extends "restau/base.html" %}
{% block content %}
    <div class="section-content-wide content">
        {% include "restau/partials/_utilizador_menu.html" %}
            <div class="conta-content">
                <h2>**********</h2>
                <span><strong>Utilizador: {{ user.username }}</strong></span>
                <span><strong>Fidelidade: {{ user.perfil.tipo_fidelidade }}</strong></span>
                <div class="content">
                    <form 
                    action="#" 
                    method="POST"
                    enctype="multipart/form-data"
                    >
                        {% csrf_token %}
                        <input type="hidden" name="form" value="compras">
                        {{form}}

                        <input type="submit" value="Submeter">
                    </form>  
                </div>
            </div>
        </div>
    </div>
{% endblock %}