{% extends "restau/base.html" %}
{% block content %}
    <div class="section-content-wide content">
        {% include "restau/partials/_conf_menu.html" %}
            <div class="conta-content">
                <h2>Configuração</h2>

                <div class="content">
                    <h3>Configuração HomePage</h3>
                    <a href="{% url "restau:imagem_logo" %}">Imagem logo</a><br>
                    <a href="">Imagem topo</a><br>
                    <a href="">Introdução</a><br>
                    <a href="">Imagem introdução</a><br>
                    <a href="">Frase cima</a><br>
                    <a href="">Imagem frase cima</a><br>
                    <a href="">Frase central</a><br>
                    <a href="">Frase baixo</a><br>
                    <a href="">Imagem frase baixo</a><br>
                    <a href="">Imagem padrão</a><br>
                    <a href="">Contatos Site</a><br>
                    <a href="">Google maps</a><br>
                    <a href="">Horário</a><br>
                    <a href="">Criar Novo Campo</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}