{% extends "restau/base.html" %}
{% block content %}
    <div class="section-content-wide content padding-admin">
        {% include "restau/partials/_conf_menu.html" %}
            <div class="conta-content">
                <h2>Configuração</h2>

                <div class="content">
                    <h3>Configuração HomePage</h3>
                    <a href="{% url "restau:imagem_logo" %}">Imagem logo</a><br>
                    <a href="{% url "restau:imagem_topo" %}">Imagem topo</a><br>
                    <a href="{% url "restau:intro" %}">Introdução</a><br>
                    <a href="{% url "restau:intro_imagem" %}">Imagem introdução</a><br>
                    <a href="{% url "restau:frase_cima" %}">Frase cima</a><br>
                    <a href="{% url "restau:imagem_frase_cima" %}">Imagem frase cima</a><br>
                    <a href="{% url "restau:frase_central" %}">Frase central</a><br>
                    <a href="{% url "restau:frase_baixo" %}">Frase baixo</a><br>
                    <a href="{% url "restau:imagem_frase_baixo" %}">Imagem frase baixo</a><br>
                    <a href="{% url "restau:imagem_padrao" %}">Imagem padrão</a><br>
                    <a href="{% url "restau:contatos_site" %}">Contatos Site</a><br>
                    <a href="{% url "restau:google_maps" %}">Google maps</a><br>
                    <a href="{% url "restau:horario" %}">Horário</a><br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}