{% extends 'restau/base.html' %}
{% block content %}
<div class="section-content-wide formset-update content">
    {% include "restau/partials/_conf_menu.html" %}
        <div class="conta-content">
            <h2 class="center">Contatos do Site</h2>
            <p class="center">
                Adicione os contatos do seu restaurante ao site.
            </p>
            <h3 class="center">Contatos</h3>
            {% if contacto %}
                <p>
                    Você já adicionou os contatos do seu restaurante ao site.
                    Clique no link para editar.
                </p>
                <div class="sub-menu">
                    <a href="{% url "restau:editar_contatos_site" contacto.id%}" class="menu-btn">{{ contacto.email }}</a>
                </div>
                <div class="sub-menu">
                    <form method="post" action="{% url 'restau:contatos_site' %}">
                        {% csrf_token %}
                        <input type="submit" value="Ativar Contactos">
                    </form>
                </div>
            {% else %}
                <p class="center">Você ainda não adicionou contatos.</p>
                <div class="sub-menu">
                    <a href="{% url "restau:criar_contatos_site" %}" class="menu-btn">Criar</a>
                </div>      
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
