{% extends 'restau/base.html' %}
{% block content %}
<div class="section-content-wide formset-update">
  {% if formset %}
  <div class="content">
    <form action="{% url 'restau:create_category' %}" method="post">
      {% csrf_token %}
      {{ formset.management_form }}
      <table class="">
        <h3 class="center">Categorias</h3>
        <thead>
          <tr class="">
            <th class=""></th>
            <th class="">Categoria</th>
            <th class="">Ordem</th>
          </tr>
        </thead>
      
        <tbody>
          {% for f in formset %}
          <tr class="">
            <td class="">
              {{ f.id }}
            </td>
            <td class="">
              <a href="{% url 'restau:category' f.instance.id %}">
                {{ f.nome }}
              </a>
            </td>
            <td class="">
              {{ f.ordem }}
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td></td>
            <td> </td>
            <td>
              <button class="btn" type="submit">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  {% else %}
  <div class="not-found center">
    <h1>Nada encontrado</h1>
    <p>
      Não encontrei nada nesse link, clique em outro
      link do nosso admin ou vá para a
      <a href="{% url 'restau:index' %}">Home</a>
    </p>
  </div>
  {% endif %}
<div class="content form-wrapper"> 
  <h3 class="center">Adicionar Categoria</h3>
  <form 
  action="{{ form_action }}"
  method="POST"
  enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="form-content">
      {% for field in form %}
      
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {{ field.errors }}
        {% if field.help_text %}
        <p class="help-text">{{ field.help_text }}</p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% if form.non_field_errors %}
    <div class="form-content">
      <div class="">
        <div class="message error">
          {{ form.non_field_errors }}
        </div>
      </div>
    </div>
    {% endif %}
    <div class="form-content">
      <div class="form-group">
        <button class="btn" type="submit">Enviar</button>
      </div>
    </div>  
  </form>
</div> 
{% endblock content %}
  
  