{% extends 'restau/base.html' %}
{% block content %}
<div class="section-content-wide formset-update content">
  {% include "restau/partials/_conf_menu.html" %}
      <div class="conta-content">
          <h2 class="center">Ementas</h2>
          <p class="center">
              Atualize as Ementas do seu restaurante, adicione novas Ementas
              ou exclua Ementas que não são mais necessárias.
          </p>
          <h3 class="center">Ementas criadas</h3>
          {% if ementas %}
          <p class="center">Clique na Ementa que deseja editar.</p>
          <div class="sub-links">
          {% for group in ementas_grouped %}
          <div class="sub-link">
              {% for ementa in group %}
                  {% if ementa %}
                      <a href="{% url 'restau:ementa' ementa.id %}" class="sub-link">{{ ementa.nome }}</a> - 
                      <a href="{% url 'restau:povoar_ementa' ementa.id %}" class="sub-link">Povoar Ementa</a><br>
                  {% endif %}
                  {% endfor %}
                  </div>

                  {% endfor %}
              </div>
              {% else %}
              <p class="center">Você ainda não criou nenhuma Ementa.</p>
              {% endif %}
              <div class="sub-menu">
                  <a href="{% url "restau:criar_ementa" %}" class="menu-btn">Criar</a>
              </div>
      </div>
  </div>
</div>
{% endblock content %}