{% extends 'restau/base.html' %}
{% block content %}
<h1>Ementas</h1>
<div>
    <ul>
    {% for ementa in ementas %}
    {% if ementa %}
        <li><a href="{% url 'restau:ementa' ementa.id %} ">{{ ementa.nome }}</a> - <a href="{% url 'restau:povoar_ementa' ementa.id %}">Povoar ementa</a></li>
    {% else %}
    <li><em>Não existem ementas.</em></li>
    {% endif %}
    {% endfor %}
    </ul>
</div>
<div class="content form-wrapper"> 
    <h3 class="center">Adicionar Ementa</h3>
    <form 
    action="{{ form_action }}"
    method="POST"
    enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="form-content">
        {% for field in form %}
        
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {{ field.errors }}
          {% if field.help_text %}
          <p class="help-text">{{ field.help_text }}</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      {% if form.non_field_errors %}
      <div class="form-content">
        <div class="">
          <div class="message error">
            {{ form.non_field_errors }}
          </div>
        </div>
      </div>
      {% endif %}
      <div class="form-content">
        <div class="form-group">
          <button class="btn" type="submit">Enviar</button>
        </div>
      </div>  
    </form>
  </div> 
{% endblock content %}