{% extends 'restau/base_front.html' %}
{% block content %}
    <section class="section-gap white-bg top-background">
        <h1 class="left">Ementa</h1>
        {% for categoria in categorias %}
            <h3>{{ categoria.nome }}</h3>
            {% for produto in produtos %}
                {% if produto.categoria == categoria and not produto.subcategoria %}
                    {% if not produto.imagem %}
                        <div class="product-frame">
                            <div class="product-image">
                                <img src="{{ active_setup.active_imagem_padrao.imagem.url }}" alt="Default">
                            </div>
                            <div class="product-details">
                                <h3 class="product-name">{{ produto.nome }}</h3>
                                <p class="product-description">{{ produto.descricao_curta }}</p>
                                <div class="product-price-section">
                                    <div class="product-price">Preço: <span class="price">{{ produto.preco_dinamico }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="product-frame">
                            <div class="product-image">
                                <img src="{{ produto.imagem.url }}" alt="Product Image">
                            </div>
                            <div class="product-details">
                                <h3 class="product-name">{{ produto.nome }}</h3>
                                <p class="product-description">{{ produto.descricao_curta }}</p>
                                <div class="product-price-section">
                                    <div class="product-price">Preço: <span class="price">{{ produto.preco_dinamico|floatformat:2 }}</span></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for subcategoria in subcategorias %}
                {% if subcategoria.categoria == categoria %}
                    <h4>{{ subcategoria.nome }}</h4>
                    {% for produto in produtos %}
                        {% if produto.categoria == categoria and produto.subcategoria == subcategoria %}
                            {% if not produto.imagem %}
                                <div class="product-frame">
                                    <div class="product-image">
                                        <img src="{{ active_setup.active_imagem_padrao.imagem.url }}" alt="Default">
                                    </div>
                                    <div class="product-details">
                                        <h3 class="product-name">{{ produto.nome }}</h3>
                                        <p class="product-description">{{ produto.descricao_curta }}</p>
                                        <div class="product-price-section">
                                            <div class="product-price">Preço: <span class="price">{{ produto.preco_dinamico }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="product-frame">
                                    <div class="product-image">
                                        <img src="{{ produto.imagem.url }}" alt="Product Image">
                                    </div>
                                    <div class="product-details">
                                        <h3 class="product-name">{{ produto.nome }}</h3>
                                        <p class="product-description">{{ produto.descricao_curta }}</p>
                                            <div class="product-price-section">
                                                <div class="product-price">Preço: <span class="price">{{ produto.preco_dinamico|floatformat:2 }}</span>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}    
            {% endfor %}
        {% endfor %}
    </section>
</main> 
{% endblock content %}
    
