{% extends 'restau/base_front.html' %}
{% block content %}
{% if main_image %}
    {% if main_image.imagem_topo %}
        <img class="imagem-topo" src="{{ main_image.imagem_topo.url }}" alt="{{ main_image.nome }}">
    {% else %}
        <h1>Extreme Way</h1>
    {% endif %}
{% endif %}

<main class="section-content-wide section-gap front-content">
    <section class="section-gap white-bg top-background">
        <div class="separator"></div>
        <h1 class="center">Hamburgueria artesanal</h1>
        <div class="separator"></div>
    </section>
    <section class="section-gap white-bg top-background">
        <h1 class="left">Ementa</h1>
        {% for categoria in categorias %}
            <h3>{{ categoria.nome }}</h3>
        {% for subcategoria in subcategorias %}
        {% if subcategoria.categoria == categoria %}
            <h4>{{ subcategoria.nome }}</h4>
            {% endif %}
        {% for produto in produtos %}
        {% if produto.categoria == categoria and produto.subcategoria == subcategoria %}
        {% if not produto.imagem %}
        <div class="product-frame">
            <div class="product-image">
                <img src="{{ default_image.imagem_padrao.url }}" alt="Product Image">
            </div>
            <div class="product-details">
                <h3 class="product-name">{{ produto.nome }}</h3>
                <p class="product-description">{{ produto.descricao_curta }}</p>
                <div class="product-price-section">
                    <div class="product-price">Preço: <span class="price">{{ produto.preco|floatformat:2 }}</span></div>
                    <div class="product-old-price">Preço anterior: <span class="old-price">{{ produto.preco_promo }}</span></div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="product-frame">
            <div class="product-image">
                <img src="{{ produto.imagem.url }}" alt="Product Image">
            </div>
            <div class="product-details">
                <h3 class="product-name">{{ produto.nome }}</h3>
                <p class="product-description">{{ produto.descricao_curta }}</p>
                <div class="product-price-section">
                    <div class="product-price">Preço: <span class="price">{{ produto.preco|floatformat:2 }}</span></div>
                    <div class="product-old-price">Preço anterior: <span class="old-price">{{ produto.preco_promo }}</span></div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endfor %}
    </section>

</main> 
{% endblock content %}
    
