{% extends "restau/base.html" %}
{% load meus_filtros %}
{% block content %}
<div class="section-content-wide formset-update content">
    {% include "restau/partials/_conf_menu.html" %}
        <div class="conta-content">
            <h2 class="center">Imagem Topo</h2>
            <p class="center">
                Marque para selecionar a imagem topo para o site.
            </p>
            <div class="content form-wrapper">
                <div class="grid-container">
                {% for imagem in imagens %}
                    <div class="grid-item image-container">
                        {% if imagem.is_visible %}
                            <img src="{{ imagem.imagem.url }}" alt="{{ imagem.nome }}">
                            <div class="overlay">
                                <span class="material-symbols-outlined">
                                    check_circle
                                </span>
                            
                            </div>
                        {% else %}
                        <img src="{{ imagem.imagem.url }}" alt="{{ imagem.nome }}">
                            
                            
                            <form method="post">
                            {% csrf_token %}
                                <input type="hidden" name="imagem_id" value="{{ imagem.id }}">
                                <input type="submit" value="Tornar visível">
                            </form> 
                        {% endif %} 
                         
                    </div>
                {% endfor %}
                <div class="sub-menu">
                    <a href="{% url 'restau:imagem_topo' %}" class="btn">voltar</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}