{% extends "restau/base.html" %}
{% load meus_filtros %}
{% block content %}
<div class="section-content-wide formset-update content">
    {% include "restau/partials/_conf_menu.html" %}
        <div class="conta-content">
            <h2 class="center">Frase Central</h2>
            <p class="center">
                Marque para selecionar a Frase Central para o site.
            </p>
            <div class="content form-wrapper">
                <div class="grid-container-texto">
                {% for texto in textos %}
                    <div class="grid-item-texto">
                        {% if texto.is_visible %}
                        <div class="align-checked-texto"> 
                            <p class="material-symbols-outlined">
                                check_circle
                            </p>
                        </div>
                            <p>{{texto.texto}}</p>
                        {% else %}
                            <span>{{texto.texto}}</span>
                            <form method="post">
                            {% csrf_token %}
                                <input type="hidden" name="texto_id" value="{{ texto.id }}">
                                <input type="submit" value="Tornar visível">
                            </form> 
                        {% endif %} 
                         
                    </div>
                {% endfor %}
                <div class="sub-menu">
                    <a href="{% url 'restau:frase_central' %}" class="btn">voltar</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}