{% extends 'restau/base.html' %}
{% block content %}
<div class="section-content-wide formset-update content">
    {% include "restau/partials/_conf_menu.html" %}
        <div class="conta-content">
            <h2 class="center">Google Maps</h2>
            <p class="center">
                Adicione a localização do seu restaurante ao site.
            </p>
            <h3 class="center">Local</h3>
            {% if local %}
                <p>
                    Você já adicionou a localizaçação do seu restaurante ao site.
                    Clique no link para editar.
                </p>
                
                <div class="sub-menu">
                    <a href="{% url "restau:editar_google_maps" local.id%}" class="menu-btn">Localização no Google Maps</a>
                </div>
                <div>
                    <form method="post" action="{% url 'restau:google_maps' %}">
                        {% csrf_token %}
                        <input type="submit" value="Ativar Mapa">
                    </form>
                </div>
            {% else %}
                <p class="center">Você ainda não adicionou a sua localização.</p>
                <div class="sub-menu">
                    <a href="{% url "restau:criar_google_maps" %}" class="menu-btn">Criar</a>
                </div>      
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
