{% extends 'restau/base_front.html' %}
{% block content %}
    <section class="section-gap white-bg top-background">
        <div class="intro-section">
            <div class="texto-intro">    
                <p>
                    {{ active_setup.active_intro.texto|linebreaks }}
                </p>
            </div>
            <div class="imagens-ambiente">
                <div class="imagem-ambiente">
                    <img src="{{ active_setup.active_imagem_topo.imagem.url }}" alt="random">
                </div>
            </div>
        </div>
    </section>
    <div class="separator"></div>
    <section class="section-gap white-bg top-background">
        <div class="frase-inspiradora">
            <div class="frase-imagens-cima">
                <div class="frase-img-topo">
                    <img src="{{ active_setup.active_imagem_frase_cima.imagem.url }}" alt="">
                    
                </div>
                <div>
                    <p>
                        {{ active_setup.active_frase_cima.texto|linebreaks }}
                    </p>
                </div>
            </div>
            <div class="frase">
                <h3>{{ active_setup.active_frase_inspiradora.texto|linebreaks }}</h3>
            </div>
            <div class="frase-imagens-baixo">
                <div>
                    <p>
                        {{ active_setup.active_frase_baixo.texto|linebreaks }}
                    </p>
                </div>
            
                <div class="frase-img-baixo">
                     <img src="{{ active_setup.active_imagem_frase_baixo.imagem.url }}" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class=" white-bg top-background">
        <div class="separator"></div>
        <div>
            <h2 class="center">GALERIA</h2>
        </div>
        <div class="grid-container">  
            {% for foto in galeria %}
            <div class="grid-item">
                <img src="{{ foto.imagem.url }}" alt="{{ foto.imagem.name }}">
            </div>
            {% endfor %}
        </div>
    </section >
    <section class="section-gap white-bg top-background">
        <div id="contatos" class="separator"></div>
            <h1 class="center">Contatos</h1>
            <div class="contatos">
                <div class="morada">
                    <h6 class="left">
                        HORÁRIO DE FUNCIONAMENTO
                    </h6>
                    <p>
                        Seg. a Sex.: 11h30 - 15h00 | 19h00 - 23h00<br>
                        Sábados: 12h00 - 15h00 | 19h00 - 23h00<br>
                        Feriados: 12h00 - 15h00 | 19h00 - 23h00<br>
                        Domingos: Encerrado<br>
                    </p>
                    <h6 class="left">
                        MORADA:
                    </h6>
                    <p>
                        Rua 25 Agosto, Lote 1<br>
                        2620-257 Ramada<br>
                        Tel: +351 309758819<br>
                        email: geral@extremeway.pt
                    </p>
                </div>
            <div class="map-box">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3109.3484558085624!2d-9.18377492453104!3d38.80156835235365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd192dbe92060e4f%3A0xd63b31709ac171f3!2sExtreme%20Way%20-%20Hamburgueria!5e0!3m2!1spt-PT!2spt!4v1691867449875!5m2!1spt-PT!2spt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
</main> 
{% endblock content %}
    
