{% extends 'restau/base_front.html' %}
{% block content %}
    <section class="section-gap white-bg top-background">
        <div class="intro-section">
            <div class="texto-intro">    
                <p>
                    {{ active_setup.active_intro.texto|linebreaks }}
                </p>
            </div>
            <div class="imagens-ambiente">
                <div class="imagem-ambiente">
                    <img src="{{ active_setup.active_intro_imagem.imagem.url }}" loading="lazy" alt="">
                </div>
            </div>
        </div>
    </section>
    <div class="separator"></div>
    <section class="section-gap white-bg top-background">
        <div class="frase-inspiradora">
            <div class="frase-imagens-cima">
                <div class="frase-img-topo">
                    <img src="{{ active_setup.active_imagem_frase_cima.imagem.url }}" loading="lazy" alt="">
                    
                </div>
                <div>
                    <p>
                        {{ active_setup.active_frase_cima.texto|linebreaks }}
                    </p>
                </div>
            </div>
            <div class="frase">
                <h3>{{ active_setup.active_frase_inspiradora.texto|linebreaks }}</h3>
            </div>
            <div class="frase-imagens-baixo">
                <div>
                    <p>
                        {{ active_setup.active_frase_baixo.texto|linebreaks }}
                    </p>
                </div>
            
                <div class="frase-img-baixo">
                     <img src="{{ active_setup.active_imagem_frase_baixo.imagem.url }}" loading="lazy" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class=" white-bg top-background">
        <div class="separator"></div>
        <div>
            <h2 class="center">GALERIA</h2>
        </div>
        <div class="grid-container">  
            {% for foto in galeria %}
                {% if foto.is_visible %}
                    <div class="grid-item">
                    <img src="{{ foto.imagem.url }}" loading="lazy" alt="{{ foto.imagem.name }}">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section >
    <section class="section-gap white-bg top-background">
        <div id="contatos" class="separator"></div>
            <h1 class="center">Contatos</h1>
            <div class="contatos">
                <div class="morada">
                    <h6 class="left">
                        HORÁRIO DE FUNCIONAMENTO
                    </h6>
                    <p>
                        {% for dia in active_setup.active_horario.all %}
                            {% if dia.status == 'Aberto' %}
                            {{dia.dia_semana}}: {{dia.hora_abertura_almoco}}h-{{dia.hora_fecho_almoco}}h|{{ dia.hora_abertura_jantar }}h-{{ dia.hora_fecho_jantar }}h<br>
                            {% else %}
                            {{dia.dia_semana}}: {{dia.status}}<br>
                            {% endif %}
                        {% endfor %}
                    </p>
                    <h6 class="left">
                        MORADA:
                    </h6>
                    <p>
                        {{ active_setup.active_contactos_site.morada|linebreaks }}
                        {{ active_setup.active_contactos_site.telefone|linebreaks }}
                        {{ active_setup.active_contactos_site.email|linebreaks }}

                    </p>
                </div>
            <div class="map-box">
                <iframe src="{{ active_setup.active_google_maps.iframe }}" width="600" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
</main> 
{% endblock content %}
    
