{% extends 'restau/base.html' %}
{% block content %}
<div class="section-content-wide formset-update content">
    {% include "restau/partials/_conf_menu.html" %}
        <div class="conta-content">
            <h2 class="center">Introdução</h2>
            <p class="center">
                Atualize a introdução do seu restaurante, adicione novas introduções
                ou exclua introduções que não são mais necessárias.
            </p>
            <h3 class="center">Introduções criadas</h3>
            {% if textos %}
            <p class="center">Clique no Logotipo que deseja editar.</p>
            <div class="sub-links">
                {% for group in textos_grouped %}
                <div class="sub-link">
                    {% for texto in group %}
                        {% if texto.texto %}
                            <span class="sub-link">{{ texto.texto }}</span><br>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p class="center">Você ainda não adicionou nenhuma introdução.</p>
            {% endif %}
            <div class="sub-menu">
                <a href="{% url "restau:criar_intro" %}" class="menu-btn">Criar</a>
                <a href="{% url "restau:apagar_intro" %}" class="menu-btn">Apagar</a>
                <a href="{% url "restau:escolher_intro" %}" class="menu-btn">Escolher imagem</a>
            </div>      
        </div>
    </div>
</div>
{% endblock %}
