{% extends "restau/base.html" %}
{% block content %}
<div class="section-content-wide content">
    {% include "restau/partials/_utilizador_menu.html" %}
    <div>
        {% include 'restau/partials/_messages.html' %}
    </div>
    <div class="conta-row">
        <div class="conta-col">
            <h2>**********</h2>
            <span><strong>Utilizador: {{ utilizador }}</strong></span>
            <span><strong>Fidelidade: {{ fidelidade }}</strong></span>
            <span><strong>Total Pontos: {{ total_pontos|floatformat:2 }}€</strong></span>
            <span><strong>Total Pontos Disponíveis: {{ total_pontos_disponiveis|floatformat:2 }}€</strong></span>
        </div>
        <div class="content">
            <form 
            action="#" 
            method="POST"
            enctype="multipart/form-data"
            >
                {% csrf_token %}
                <input type="hidden" name="form" value="ofertas">
                {{form}}
        
                <input type="submit" value="Submeter">
            </form> 
        </div>
    </div>
</div>
{% endblock %}