{% extends 'restau/base.html' %}
{% block content %}
<div class="section-content-wide formset-update content">
    {% include "restau/partials/_conf_menu.html" %}
        <div class="conta-content">
            <h2 class="center">Ordenar subcategorias</h2>
            <p class="center">
                Ordene as subcategorias de acordo com a ordem que deseja que elas apareçam no site.
            </p>
        {% if subformset %}
        <div class="content">
            <form method="post">
            {% csrf_token %}

            {{ formset.management_form }}
            {{ subformset.management_form }}

            <table>
                <thead>
                    <tr>
                        <th>Categoria</th>
                        <th>Subcategoria</th>
                        <th>Ordem</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in formset.forms %}
                <tr>
                    <td>{{ i.instance.nome }}</td>
                    <td>
                </tr>
                {% for subform in subformset.forms %}                        
                    {% if subform.categoria.value == i.id.value %}
                <tr>
                    <td>{{ subform.id }}</td>
                    <td>
                    <a href="{% url 'restau:subcategoria' subform.instance.id %}"> 
                    {{ subform.nome }}
                    </a>
                    </td>
                    <td>{{ subform.ordem }}</td>
                </tr>
                    
                    {% endif %}
                {% endfor %}
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td><button class="btn" type="submit">Salvar</button></td>
                </tr>
                </tbody>  
            </table>
        </form>
        </div>
        {% else %}
        <div class="not-found center">
            <h1>Nada encontrado</h1>
            <p>
                Não encontrei nada nesse link, clique em outro
                link do nosso admin ou vá para a
                <a href="{% url 'restau:index' %}">Home</a>
            </p>
        </div>
        </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}