{% extends 'restau/base.html' %}
{% block content %}
{% if formset %}
<div class="main-content content responsive-table">
  <form action="{% url 'restau:ordenar_produtos' %}" method="post">
  {% csrf_token %}
  {{ formset.management_form }}
  <div class="form-content">
    
    <div class="form-group">
      {% for cat in categorias %}
      <p>{{ cat.nome }}</p>
      {% for sub in subcategorias %}
      {% if sub.categoria == cat %}
      <p>{{ sub.nome }}</p>
      {% for field in formset %}
      {% if field.instance.categoria == cat and field.instance.subcategoria == sub %}
      <div class="ordenar">
        <div> {{ field.id}} </div>
        <div> {{ field.nome }} </div>
        <div> {{ field.ordem }} </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endfor %}
      {% for field in formset %}
      {% if field.instance.categoria == cat and not field.instance.subcategoria %}
      <div class="ordenar">
        <div> {{ field.id}} </div>
        <div> {{ field.nome }} </div>
        <div> {{ field.ordem }} </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </div>
  </div>
  {% if form.non_field_errors %}
  <div class="form-content">
    <div class="">
      <div class="message error">
        {{ form.non_field_errors }}
      </div>
    </div>
  </div>
  {% endif %}
  <div class="form-content">
    <div class="form-group">
      <button class="btn" type="submit">Enviar</button>
    </div>
  </div>  
</form>
</div> 
  </form>
</div>
{% else %}
<div class="not-found center">
  <h1>Nada encontrado 😞</h1>
    <p>
      Não encontrei nada nesse link, clique em outro
      link do nosso admin ou vá para a
      <a href="{% url 'restau:index' %}">Home</a>
    </p>
</div>
{% endif %}
{% endblock %}