{% extends "restau/base_front.html" %}
{% block content %}
    <section class="section-gap white-bg top-background">
        <h4 style="margin-bottom: 3rem;">POLÍTICA DE PRIVACIDADE</h4>
        <p>
            A proteção da sua privacidade é de extrema importância para nós. É política do Extreme Way resguardar a sua privacidade em relação a qualquer informação que possamos coletar no nosso site, Extreme Way, e outros sites que gerenciamos.
        </p>
        <h5>
            Coleta de Informações Pessoais
        </h5>
        <p>
            Solicitamos informações pessoais somente quando realmente precisamos delas para fornecer um serviço a você. Obtemos essas informações por meios justos e com o seu pleno consentimento, esclarecendo o motivo pelo qual estamos coletando e como será utilizada.
        </p>
        <h5>
            Guarda de Informações
        </h5>
        <p>
            Retemos as informações coletadas pelo tempo estritamente necessário para fornecer o serviço solicitado. Os dados são protegidos dentro de mecanismos de segurança tecnicamente viáveis para prevenir perdas, roubos, acessos, divulgações, cópias, usos ou modificações não autorizados.
        </p>
        <h5>
            Compartilhamento de Informações
        </h5>
        <p>
            Não compartilhamos informações pessoais publicamente ou com terceiros, exceto quando requerido por lei.
        </p>
        <h5>
            Links para Sites Externos
        </h5>
        <p>
            Nosso site pode conter links para sites externos que não são operados por nós. Tenha ciência de que não temos controle sobre o conteúdo e práticas desses sites e não podemos assumir responsabilidade por suas políticas de privacidade.
        </p>
        <h5>
            Recusa de Fornecimento de Informações Pessoais
        </h5>
        <p>
            Você é livre para recusar o fornecimento de informações pessoais, entendendo que isso pode impedir a entrega de determinados serviços.
        </p>
        <h5>
            Consentimento
        </h5>
        <p>
            Ao utilizar nosso site, você concorda com a nossa política de privacidade e aceita as práticas aqui descritas. 
        </p>
        <h5>
            Contacto
        </h5>
        <p>
            Em caso de dúvidas sobre como gerenciamos informações do usuário e dados pessoais, sinta-se à vontade para entrar em contato conosco.
        </p>
        <h4 style="padding-top: 3rem;">
            POLÍTICA DE COOKIES
        </h4>
        <h5>
            O Que São Cookies?
        </h5>
        <p>
            Cookies são pequenos arquivos de texto enviados ao seu computador ou dispositivo móvel quando você acessa sites. Eles ajudam a melhorar sua experiência de navegação.
        </p>
        <h5>
            Uso de Cookies
        </h5>
        <p>
            Utilizamos cookies para melhorar a funcionalidade do nosso site e a eficiência da navegação dos usuários. Cookies de análise são empregados para entender como os visitantes interagem com o site, permitindo-nos otimizar nossa oferta e conteúdo.
        </p>
        <h5>
            Gerenciamento de Cookies
        </h5>
        <p>
            Você pode gerenciar e/ou recusar o uso de cookies através das configurações do seu navegador. No entanto, isso pode limitar algumas funcionalidades do site.
        </p>
        <h5>
            Cookies de Terceiros
        </h5>
        <p>
            Nosso site pode utilizar cookies de terceiros para melhorar a experiência de uso e oferecer conteúdo relevante. Isso inclui cookies de serviços de análise, como o Google Analytics.
        </p>
        <h5>
            Compromisso do Usuário
        </h5>
        <p>
            Ao utilizar nosso site, você se compromete a não realizar atividades que sejam ilegais ou prejudiciais à experiência dos outros usuários.
        </p>
        <h5>
            Mais Informações
        </h5>
        <p>
            Esperamos que estas informações clarifiquem o uso de cookies e nossa política de privacidade. Para qualquer dúvida, entre em contato.
        </p>
        <p>
            Esta política é efetiva a partir do dia 17 de Fevereiro de 2024.
        </p>
    </section>
</main>
{% endblock content %}