{% extends 'restau/base.html' %}
{% block content %}
<div class="section-content-wide formset-update content">
  {% include "restau/partials/_conf_menu.html" %}
  <div class="conta-content">
    <h2 class="center">Produtos</h2>
      <p class="center">
          Atualize os Produtos do seu restaurante, adicione novos Produtos
          ou exclua Produtos que não são mais necessários.
      </p>
      <h3 class="center">Produtos criados</h3>
      {% if produtos %}
      <div class="content responsive-table">
        <table class="products-table">
          <thead>
            <tr class="table-row table-row-header">
              <th class="table-header">Produto</th>
              <th class="table-header">Preço 1</th>
              <th class="table-header">Preço 2</th>
              <th class="table-header">Preço 3</th>
              <th class="table-header">Visib</th>
            </tr>
          </thead>
          <tbody>
            {% for produto in produtos %}
            <tr class="table-row">
              <td class="table-cell">
                <a 
                href="{% url 'restau:produto' produto.id %}" 
                class="table-link"
                >
                  {{ produto.nome }}
                </a>
              </td>
              {% if not produto.preco_1 %}
              <td class="table-cell">
                -----
              </td>
              {% else %}
              <td class="table-cell">
                {{ produto.preco_1 }}
              </td>
              {% endif %}
              {% if not produto.preco_2 %}
              <td class="table-cell">
                -----
              </td>
              {% else %}
              <td class="table-cell">
                {{ produto.preco_2 }}
              </td>
              {% endif %}
              {% if not produto.preco_3 %}
              <td class="table-cell">
                -----
              </td>
              {% else %}
              <td class="table-cell">
                {{ produto.preco_3 }}
              </td>
              {% endif %}
              {% if produto.visibilidade %}
              <td class="table-cell">
                Visível
              </td>
              {% else %}
              <td class="table-cell">
                Oculto
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <div class="not-found center">
        <h1>Nada encontrado!</h1>
          <p>
            Não encontrei nada nesse link, clique em outro
            link do nosso admin ou vá para a
            <a href="{% url 'restau:index' %}">Home</a>
          </p>
      </div>
      {% endif %}
      <div class="sub-menu">
        <a href="{% url "restau:criar_produto" %}" class="menu-btn">Criar</a>
        <a href="{% url "restau:ordenar_produtos" %}" class="menu-btn">Ordenar</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}