{% extends 'restau/base.html' %}
{% block content %}
<div>
  <nav class="menu">
    <ul class="menu-items">
      <li class="menu-item">
        <a href="{% url 'restau:create_product' %}" class="menu-link">Criar Produto</a>
      </li>
      <li class="menu-item">
        <a href="{% url 'restau:ordenar_produtos' %}" class="menu-link">Ordenar Produtos</a>
      </li>
      <li class="menu-item">
        <a href="{% url 'restau:create_category' %}" class="menu-link">Categorias</a> 
      </li>
      <li class="menu-item">
        <a href="{% url 'restau:create_subcategory' %}" class="menu-link">Subcategorias</a>
      </li>
    </ul>

  </nav>
</div>
  {% if produtos %}
    <div class="main-content content responsive-table">
      <table class="products-table">
        <h3>Produtos</h3>
        <thead>
          <tr class="table-row table-row-header">
            <th class="table-header">Produto</th>
            <th class="table-header">Categoria</th>
            <th class="table-header">Subcategoria</th>
            <th class="table-header">Preço 1</th>
            <th class="table-header">Preço 2</th>
            <th class="table-header">Preço 3</th>
            <th class="table-header">Preço 4</th>
            <th class="table-header">Preço 5</th>
            <th class="table-header">Preço 6</th>
            <th class="table-header">Preço Promo</th>
            <th class="table-header">Visib</th>
          </tr>
        </thead>
        
        <tbody>
          {% for produto in produtos %}
          
            <tr class="table-row">
              <td class="table-cell">
                <a 
                href="{% url 'restau:product' produto.id %}" 
                class="table-link"
                >
                  {{ produto.nome }}
                </a>
              </td>
              <td class="table-cell">
                {{ produto.categoria }}
              </td>
              {% if produto.subcategoria %}
              <td class="table-cell">
                {{ produto.subcategoria }}
              </td>
              {% else %}
              <td class="table-cell">
                ----------
              </td>
              {% endif %}
              <td class="table-cell">
                {{ produto.preco_1 }}
              </td>
              <td class="table-cell">
                {{ produto.preco_2 }}
              </td>
              <td class="table-cell">
                {{ produto.preco_3 }}
              </td>
              <td class="table-cell">
                {{ produto.preco_4 }}
              </td>
              <td class="table-cell">
                {{ produto.preco_5 }}
              </td>
              <td class="table-cell">
                {{ produto.preco_6 }}
              </td>
              <td class="table-cell">
                {{ produto.preco_promo }}
              </td>
              <td class="table-cell">
                {{ produto.visibilidade }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="not-found center">
      <h1>Nada encontrado!</h1>
        <p>
          Não encontrei nada nesse link, clique em outro
          link do nosso admin ou vá para a
          <a href="{% url 'restau:index' %}">Home</a>
        </p>
    </div>
  {% endif %}
{% endblock content %}