{% extends "restau/base_front.html" %}
{% block content %}
<section class="section-gap white-bg top-background">
    <div class="intro-section">
        <div class="texto-intro">    
            <h4>Bem-Vindo ao Programa de Fidelidade Extreme Way!</h4>
            <p>
                No Extreme Way, valorizamos cada um de nossos clientes e 
                queremos recompensar sua lealdade com benefícios que fazem 
                cada visita ainda mais especial.
            </p>
            <h4>Como Funciona?</h4>
            <p>
                Cada vez que você faz uma compra connosco, você ganha pontos 
                para a sua conta de fidelidade. É simples assim! Não há 
                formulários complicados para preencher ou processos demorados. 
                Cada euro gasto em nossos deliciosos hambúrgueres e 
                acompanhamentos transforma-se em pontos que se acumulam 
                rapidamente.
            </p>
            <h4>Acumule Pontos e Ganhe Recompensas!</h4>
            <p>
                Com o Programa de Fidelidade Extreme Way, quanto mais você 
                compra, mais ganha. Acumule pontos e troque-os por uma 
                variedade de recompensas tentadoras, desde itens grátis do 
                nosso menu até descontos exclusivos. Seus pontos são a nossa 
                maneira de dizer 'obrigado' por escolher a Extreme Way.
            </p>
            <h4>Vantagens Exclusivas para Membros</h4>
            <p>
                Como membro do nosso Programa de Fidelidade, você terá acesso 
                a promoções e ofertas especiais, disponíveis apenas para 
                nossa comunidade de membros. Fique atento aos nossos 
                comunicados e não perca as oportunidades incríveis que vêm com 
                os seus pontos.
            </p>
            <h4>Participe Agora e Comece a Ganhar!</h4>
            <p>
                Não perca mais tempo! Junte-se ao Programa de Fidelidade 
                Extreme Way hoje mesmo e comece a acumular pontos em cada 
                visita. A sua próxima refeição connosco pode ser ainda mais 
                gratificante.
            </p>
            <h3>Extreme Way, Onde a Sua Fidelidade é Recompensada.</h3>
        </div>
</main>
{% endblock content %}