<div class="conta-menu">
	<ul>
		<li><a href="{% url 'perfil:conta' %}">Conta</a></li>
		<li><a href="{% url 'perfil:atualizar' %}" class="">Atualizar dados</a></li>
		<li>
			<a href="{% url 'perfil:change_password' %}" class="">Alterar Password</a>
		</li>
		<li>
			<a href="{% url 'perfil:cartao_cliente' %}" class="">Cartão cliente</a>
		</li>
		<li><a href="{% url 'perfil:regras' %}" class="">Regras</a></li>
		<li>
			<a href="{% url 'perfil:movimentos_cliente' %}" class="">Movimentos</a>
		</li>
		<li>
			<a href="#" id="cancelar-conta-btn">Cancelar Conta</a>
		</li>

		{% if acesso_restrito %}
		<li><a href="{% url 'restau:admin_home' %}" class="">ADMIN</a></li>
		{% endif %}
	</ul>
</div>
